<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="menuController">
    <div class="container">
        <h1>Tony's Pizza</h1>
        <h2>{{menu}}</h2>
        {{model.title}}
        <div>
            <label><input ng-click="changeDish('Cheese Pizza', '13.99')" type="radio" name="category" /> Cheese Pizza</label>
        </div>
        <div>
            <label><input ng-click="changeDish('Pepperoni Pizza', '1.99')" type="radio" name="category" /> Pepperoni Pizza</label>
        </div>
        <div>
            <label><input ng-click="changeDish('Margherita Pizza', '10')" type="radio" name="category" /> Margherita Pizza</label>
        </div>
        <div>
            <label><input ng-click="changeDish('BBQ Chicken Pizza', '09.99')" type="radio" name="category" > BBQ Chicken Pizza</label>
        </div>
        <div>
            <label><input ng-click="changeDish('Combo Pizza', '5.6')" type="radio" name="category" /> Combo Pizza</label>
        </div>
        <div>
            <h3>Selected Item</h3>
            <pre>{{model.mainDish}}</pre>
        </div>
        <div>
            <h3>Special Instuctions</h3>
            <textarea class="form-control" ng-model="model.specialInstructions"></textarea>
        </div>
        <div>
            <h3>Order Summary</h3>
            <pre>{{model.mainDish}}  {{model.price | currency}} - {{model.specialInstructions}}</pre>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/menuController.js"></script>
</body>

</html>